In [4]:
import pandas as pd
import numpy as np
import random

In [ ]:
random.

In [6]:
item_interactions = np.array([np.random.choice([0, 1], size=(100,), p=[1./3, 2./3]) for _ in range(100)])

In [ ]:
[(i, 1) for i in range(100)]

In [15]:
import turicreate

In [19]:
from turicreate import item_similarity_recommender #import

In [22]:
a = pd.DataFrame(item_interactions)

In [97]:
df = a.unstack()

In [98]:
df = df.reset_index().rename(columns={'level_0': 'shirt_id', 'level_1': 'hoodieid'})

In [103]:
df = df.append(pd.DataFrame([(100, 100) for _ in range(10)]).rename(columns={0: 'shirt_id', 1: 'hoodieid'}))

In [107]:
df[0] = df[0].fillna(1)

In [108]:
df = df[df[0].astype(bool)]

In [110]:
df = df.drop(columns=[0])

In [111]:
sf = turicreate.SFrame(df)

In [148]:
sf.tail()

Columns:
	shirt_id	int
	hoodieid	int

Rows: 10

Data:
+----------+----------+
| shirt_id | hoodieid |
+----------+----------+
|   100    |   100    |
|   100    |   100    |
|   100    |   100    |
|   100    |   100    |
|   100    |   100    |
|   100    |   100    |
|   100    |   100    |
|   100    |   100    |
|   100    |   100    |
|   100    |   100    |
+----------+----------+
[10 rows x 2 columns]

In [140]:
recc = item_similarity_recommender.create(sf, user_id='shirt_id', item_id='hoodieid', user_data=shirt_features, item_data=hoodie_features)

Preparing data set.

    Data has 6695 observations with 101 users and 101 items.

    Data prepared in: 0.037163s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 173.323ms                      | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 173.651ms                           | 1                | 1               |

| 413.227ms                           | 100              | 101             |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.429008s

In [130]:
shirt_features = ['white' if random.random() > 0.5 else 'red' for i in range(101)]
shirt_features = turicreate.SFrame(pd.DataFrame(shirt_features).reset_index().rename(columns={'index': 'shirt_id'}))

In [131]:
hoodie_features = ['black' if random.random() > 0.5 else 'yellow' for i in range(101)]
hoodie_features = turicreate.SFrame(pd.DataFrame(hoodie_features).reset_index().rename(columns={'index': 'hoodieid'}))

In [153]:
recc.recommend(k=1).tail()

Columns:
	shirt_id	int
	hoodieid	int
	score	float
	rank	int

Rows: 10

Data:
+----------+----------+---------------------+------+
| shirt_id | hoodieid |        score        | rank |
+----------+----------+---------------------+------+
|    91    |    10    |  0.5120803160326821 |  1   |
|    92    |    38    | 0.47776090233556684 |  1   |
|    93    |    5     |  0.5494803235386357 |  1   |
|    94    |    8     | 0.49050996584050793 |  1   |
|    95    |    5     |  0.5477526951843584 |  1   |
|    96    |    18    |  0.5633215299019447 |  1   |
|    97    |    25    | 0.49765412426657146 |  1   |
|    98    |    5     |  0.5495827987160481 |  1   |
|    99    |    34    |  0.5083330194155375 |  1   |
|   100    |    18    |  0.5802978444099426 |  1   |
+----------+----------+---------------------+------+
[10 rows x 4 columns]

In [143]:
nn = recc.get_similar_items(k=5)

In [146]:
nn

Columns:
	hoodieid	int
	similar	int
	score	float
	rank	int

Rows: 500

Data:
+----------+---------+--------------------+------+
| hoodieid | similar |       score        | rank |
+----------+---------+--------------------+------+
|    0     |    5    | 0.5681818127632141 |  1   |
|    0     |    65   | 0.5681818127632141 |  2   |
|    0     |    99   | 0.5679012537002563 |  3   |
|    0     |    8    | 0.5647059082984924 |  4   |
|    0     |    10   | 0.5517241358757019 |  5   |
|    1     |    66   | 0.5977011322975159 |  1   |
|    1     |    23   | 0.5952380895614624 |  2   |
|    1     |    87   | 0.5882353186607361 |  3   |
|    1     |    90   | 0.5813953280448914 |  4   |
|    1     |    85   | 0.5747126340866089 |  5   |
+----------+---------+--------------------+------+
[500 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [144]:
nn.tail()

Columns:
	hoodieid	int
	similar	int
	score	float
	rank	int

Rows: 10

Data:
+----------+---------+--------------------+------+
| hoodieid | similar |       score        | rank |
+----------+---------+--------------------+------+
|    98    |    54   | 0.6117647290229797 |  1   |
|    98    |    60   | 0.5952380895614624 |  2   |
|    98    |    65   | 0.5909090638160706 |  3   |
|    98    |    95   | 0.5647059082984924 |  4   |
|    98    |    18   | 0.5604395866394043 |  5   |
|    99    |    2    | 0.5903614163398743 |  1   |
|    99    |    5    | 0.584269642829895  |  2   |
|    99    |    7    | 0.5747126340866089 |  3   |
|    99    |    25   | 0.5747126340866089 |  4   |
|    99    |    78   | 0.5681818127632141 |  5   |
+----------+---------+--------------------+------+
[10 rows x 4 columns]

In [119]:
result = nn.to_dataframe()

In [120]:
result

     hoodieid  similar     score  rank
0           0        5  0.568182     1
1           0       65  0.568182     2
2           0       99  0.567901     3
3           0        8  0.564706     4
4           0       10  0.551724     5
..        ...      ...       ...   ...
995        99        0  0.567901     6
996        99       70  0.558140     7
997        99       55  0.554348     8
998        99       18  0.554348     9
999        99       47  0.549451    10

[1000 rows x 4 columns]

In [117]:
pd.DataFrame(nn)

     hoodieid  similar     score  rank
0           0        5  0.568182     1
1           0       65  0.568182     2
2           0       99  0.567901     3
3           0        8  0.564706     4
4           0       10  0.551724     5
..        ...      ...       ...   ...
995        99        0  0.567901     6
996        99       70  0.558140     7
997        99       55  0.554348     8
998        99       18  0.554348     9
999        99       47  0.549451    10

[1000 rows x 4 columns]

In [ ]:

# >>> m2 = turicreate.item_similarity_recommender.create(sf, nearest_items=nn)